In [1]:
import pandas as pd 
import plotly 
import matplotlib.pyplot as plt 
import json
import plotly.graph_objects as go

In [2]:
df=pd.read_csv("tweets-first-lang.csv")

In [3]:
df.head()

,status_id,created_at,text,category,category2,answer
0,1181932863048028162,2019-10-09T14:02:08Z,First language: C6,first language,first language,c6
1,1181932863048028162,2019-10-09T14:02:08Z,Had difficulties: C in the context of Amiga OS,had difficulties,had difficulties,c
2,1181932863048028162,2019-10-09T14:02:08Z,Had difficulties: C in the context of Amiga OS,had difficulties,had difficulties,in the context of amiga os
3,1181932863048028162,2019-10-09T14:02:08Z,Most used: C++,most used,most used,c++
4,1181932863048028162,2019-10-09T14:02:08Z,Totally hate: Python,totally hate,hate,python

In [4]:
df.tail()

,status_id,created_at,text,category,category2,answer
122867,1181017008374050816,2019-10-07T01:22:51Z,Had difficulties: C,had difficulties,had difficulties,c
122868,1181017008374050816,2019-10-07T01:22:51Z,Most used: Java,most used,most used,java
122869,1181017008374050816,2019-10-07T01:22:51Z,Totally hate: R,totally hate,hate,r
122870,1181017008374050816,2019-10-07T01:22:51Z,Most loved: Python,most loved,love,python
122871,1181017008374050816,2019-10-07T01:22:51Z,For beginners: Python,for beginners,beginner,python

In [5]:
df.columns

Index(['status_id', 'created_at', 'text', 'category', 'category2', 'answer'], dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122872 entries, 0 to 122871
Data columns (total 6 columns):
status_id     122872 non-null int64
created_at    122872 non-null object
text          122872 non-null object
category      122872 non-null object
category2     122872 non-null object
answer        122822 non-null object
dtypes: int64(1), object(5)
memory usage: 5.6+ MB

In [ ]:
df.created_at=pd.to_datetime(df["created_at"])

In [ ]:
df.head()

In [ ]:
filters=("first language","had difficulties","most used","beginner","love","hate","curious","insteresting","currently")
def filter1(x):
    if x.lower() in filters  :
        return "True"
    else:
        return "False"
df["filter1"]=df.category2.apply(lambda x:filter1(x))

In [ ]:
df.filter1.unique()

In [ ]:
df=df[df.filter1=="True"]
df

In [ ]:
df.category2.unique()

In [ ]:
df=df[["category2","answer"]].copy()

In [ ]:
df

In [ ]:
#list(df.answer.unique())

In [ ]:
programing_list=list()
with open("data.txt") as dosya:
    data=json.load(dosya)
    for item in data["itemListElement"]:
        programing_list.append(item["item"]["name"].lower())
programing_list=tuple(programing_list)
#programing_list

In [ ]:
def filter2(x):
    if x in programing_list :
        return "True"
    else:
        return "False"
df["filter2"]=df.answer.apply(lambda x:filter2(x))
df

In [ ]:
df=df[df.filter2=="True"]
df

In [ ]:
df.category2.unique()

In [ ]:
had_diff=df[df.category2=="had difficulties"]
had_diff
had_diff_dict=dict(had_diff.answer.value_counts())
had_diff_dFrame=pd.DataFrame()
had_diff_dFrame["name"]=[item.upper() for item in had_diff_dict.keys()]
had_diff_dFrame["value"]=had_diff_dict.values()
had_diff_dFrame


colors = ['lightslategray',] * 20

fig = go.Figure(data=[go.Bar(
    x=had_diff_dFrame[:20].name,
    y=had_diff_dFrame[:20].value,
    marker_color=colors # marker color can be a single color value or an iterable
)])
fig.update_layout(title_text='Had difficulties Programing Language')

<img src="images/1.png">

In [ ]:
first_lang=df[df.category2=="first language"]
first_lang
first_lang_dict=dict(first_lang.answer.value_counts())
first_lang_data=pd.DataFrame()
first_lang_data["name"]=[item.upper() for item in first_lang_dict.keys()]
first_lang_data["value"]=first_lang_dict.values()

colors = ['lightslategray',] * 20

fig = go.Figure(data=[go.Bar(
    x=first_lang_data[:20].name,
    y=first_lang_data[:20].value,
    marker_color=colors # marker color can be a single color value or an iterable
)])
fig.update_layout(title_text='First Programing Language')

<img src="images/2.png">

In [ ]:
most=df[df.category2=="most used"]
most
most_dict=dict(most.answer.value_counts())
most_data=pd.DataFrame()
most_data["name"]=[item.upper() for item in most_dict.keys()]
most_data["value"]=most_dict.values()


colors = ['lightslategray',] * 20

fig = go.Figure(data=[go.Bar(
    x=most_data[:20].name,
    y=most_data[:20].value,
    marker_color=colors # marker color can be a single color value or an iterable
)])
fig.update_layout(title_text='Most used programing language')

<img src="images/3.png">

In [ ]:
hate=df[df.category2=="hate"]
hate
hate_dict=dict(hate.answer.value_counts())
hate_data=pd.DataFrame()

hate_data["name"]=[item.upper() for item in hate_dict.keys()]
hate_data["value"]=hate_dict.values()


colors = ['lightslategray',] * 20

fig = go.Figure(data=[go.Bar(
    x=hate_data[:20].name,
    y=hate_data[:20].value,
    marker_color=colors 
)])
fig.update_layout(title_text='Totaly Hated Programing Language')

<img src="images/4.png">

In [ ]:
love=df[df.category2=="love"]
love
love_dict=dict(love.answer.value_counts())
love_data=pd.DataFrame()
love_data["name"]=[item.upper() for item in love_dict.keys()]
love_data["value"]=love_dict.values()

colors = ['rgb(55, 83, 109)',] * 20

fig = go.Figure(data=[go.Bar(
    x=love_data[:20].name,
    y=love_data[:20].value,
    marker_color=colors 
)])
fig.update_layout(title_text='Most Loved Programing Language')

<img src="images/5.png">

In [ ]:
beginner=df[df.category2=="beginner"]
beginner
beginner_dict=dict(beginner.answer.value_counts())
beginner_data=pd.DataFrame()
beginner_data["name"]=[item.upper() for item in beginner_dict.keys()]
beginner_data["value"]=beginner_dict.values()

colors = ['rgb(26, 118, 255)',] * 20

fig = go.Figure(data=[go.Bar(
    x=beginner_data[:20].name,
    y=beginner_data[:20].value,
    marker_color=colors,

)])
fig.update_layout(title_text='For Beginners Programing Language')

<img src="images/6.png">

In [ ]:
curious=df[df.category2=="curious"]
curious
curious_dict=dict(curious.answer.value_counts())
curious_data=pd.DataFrame()
curious_data["name"]=[item.upper() for item in curious_dict.keys()]
curious_data["value"]=curious_dict.values()

colors = ['lightslategray',] * 20

fig = go.Figure(data=[go.Bar(
    x=curious_data[:20].name,
    y=curious_data[:20].value,
    marker_color=colors,

)])
fig.update_layout(title_text='Curious')

<img src="images/7.png">

In [ ]:
currently=df[df.category2=="currently"]
currently
currently_dict=dict(currently.answer.value_counts())
currently_data=pd.DataFrame()
currently_data["name"]=[item.upper() for item in currently_dict.keys()]
currently_data["value"]=currently_dict.values()

      
colors = ['indianred',] * 20

fig = go.Figure(data=[go.Bar(
    x=currently_data[:20].name,
    y=currently_data[:20].value,
    marker_color=colors

)])
fig.update_layout(title_text='Currently Programing Language')

<img src="images/8.png">